<div class="form">
  <div class="tab-content">
    <div id="reset_password">
      <h1>Change your password</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <!-- errors -->
        <ul class="tab-group">
          <li class="tab active"><%= devise_error_messages! %></li>
          <%= f.hidden_field :reset_password_token %>
        </ul>

        <div class="field-wrap">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.label :password, 'New password<span class="req">*</span>'.html_safe %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true %>
        </div>

        <!-- password confirmation -->
        <div class="field-wrap">
          <%= f.label :password_confirmation, 'Confirm new password<span class="req">*</span>'.html_safe %>
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", required: true %>
        </div>

        <!-- links -->
        <%= render "users/shared/links" %>

        <!-- action -->
        <%= f.submit "Change my password", class: "button button-block" %>
      <% end %>

    </div>
  </div><!-- tab-content -->
</div> <!-- /form -->
